<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623169553867-vjulqn9pdgull90m2qqmh8kn0ara9lj6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623169553867-vjulqn9pdgull90m2qqmh8kn0ara9lj6</string>
	<key>API_KEY</key>
	<string>AIzaSyAIhxGivGZG6PQ9QdlyaeQujwzc9GeC9Ys</string>
	<key>GCM_SENDER_ID</key>
	<string>623169553867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-tut-f3abe</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-tut-f3abe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623169553867:ios:aa5c0a25a3330b92b7a24e</string>
</dict>
</plist>